section {
    scroll-margin-top: 100px;
}


body{
    font-family: "M PLUS 1", sans-serif;
    /*font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;*/
    /*ヘッダーの高さ分の空白:80px*/
    margin: 0;
    padding: 80px 0 0;    
}

/*ヘッダー設定*/
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f3e4; 
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-around; /* 左右に広げる */
    padding: 10px 20px;        /* 内側余白も追加 */
    z-index: 998;
}
.title h1, .title h2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin: 10px 0;
}
.title h1 {
    font-size: 30px;
}
.title h2{
    font-size: 20px;
} 
.nav-pc ul{
    display: flex;
    list-style-type: none; /*丸を消す*/
    justify-content: flex-end;
    align-items: center; 
    gap: 15px;
}

/*画面サイズでのヘッダー切り替え*/
.nav-pc {
  display: block; /* PCは通常表示 */
}
.hamburger {
    position: absolute; 
    right: 50px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-menu {
    display: none;
}

/*ハンバーガーメニュー回転*/
.hamburger span {
    display: block;
    height: 3px;              /* 線の太さ */
    width: 100%;              /* 線の長さ */
    background: black;        /* 線の色 */
    margin: 5px 0;            /* 線の間隔 */
    transition: all 0.3s;     /* アニメーション */
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(0px,11px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -11px);
}

@media (max-width: 600px) {
    .nav-pc { display: none; }
    .hamburger {
        display: block;
        z-index: 1000;
    }
    .hamburger-menu {
    display: block;
    }
    
    #hamburger-menu {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 40%;
        background-color: #f8ee5c;
        transition: right 0.3s ease; /* スライドアニメーション */
        z-index: 999;
    }
    #hamburger-menu.active {
        right: 0;
    }
}
/*ハンバーガーメニュー書式設定*/
.hamburger-menu ul {
    list-style-type: none;
}
.hamburger-menu li {
    margin-bottom: 10px; /* 行間も調整可能 */
}
.hamburger-menu li a {
    text-decoration: none;
    color: black;
}
.hamburger-menu li a:hover {
    text-decoration: underline;
    color: #0000EE;
}



/*フッター設定*/
footer {
    background-color: #f4f3e4;  /* 背景色 */
    color: rgb(0, 0, 0);            /* 文字色 */
    text-align: center;      /* 中央寄せ */
    padding: 20px 0;         /* 上下の余白 */
           /* 上の余白（本文との間） */
    margin: 40px 0px 0px; 
    width: 100%;
}


/*本文設定*/
.main-content {
    /*max-width: 800px;      本文の最大幅 */
    /*margin: 0 auto;        中央寄せ */
    padding: 0px 20px;        /* 上下左右の余白 */
}

/*見出し色変化*/
.fade-index {
    position: relative;
    display: inline-block;
    padding: 0;
    color: black; /* 文字色はそのまま */
}

/* 文字下の小さいバーだけでアニメーション */
.fade-index::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;               /* 初期は0% */
    height: 15px;             /* 背景の高さ */
    background-color: rgb(238, 238, 206);
    z-index: -1;
    transition: width 0.8s ease;
}

/* スクロールなどでアクティブになったらバーを横いっぱいに */
.fade-index.active::before {
    width: 100%;
}

