section {
    scroll-margin-top: 100px;
}


body{
    font-family: "M PLUS 1", sans-serif;
    /*font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;*/
    /*ヘッダーの高さ分の空白:80px*/
    margin: 0;
    padding: 80px 0 0;    
}

/*ヘッダー設定*/
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f3e4; 
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-around; /* 左右に広げる */
    padding: 10px 20px;        /* 内側余白も追加 */
    z-index: 1000;
}
.title h1, .title h2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin: 10px 0;
}
.title h1 {
    font-size: 30px;
}
.title h2{
    font-size: 20px;
} 
nav ul{
    display: flex;
    list-style-type: none; /*丸を消す*/
    justify-content: flex-end;
    align-items: center; 
    gap: 15px;
}


/*フッター設定*/
footer {
    background-color: #f4f3e4;  /* 背景色 */
    color: rgb(0, 0, 0);            /* 文字色 */
    text-align: center;      /* 中央寄せ */
    padding: 20px 0;         /* 上下の余白 */
           /* 上の余白（本文との間） */
    margin: 40px 0px 0px; 
    width: 100%;
}


/*本文設定*/
.main-content {
    /*max-width: 800px;      本文の最大幅 */
    /*margin: 0 auto;        中央寄せ */
    padding: 0px 20px;        /* 上下左右の余白 */
}